<div id="comment_<%= comment.id %>">
  <div>
      <div>
        <div> <span ><%= comment.user.user_name %></span> <small ><%= time_ago_in_words comment.created_at %></small> </div>
      </div>
      <p><%= comment.content %>
      <%= link_to 'Delete', post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true %></p>
      <hr />
  </div>
</div>