<nav class="navbar navbar-light py-4 navbar-expand-lg"> 
  <div class="container">
      <div class="navbar-brand">
        <%= link_to 'Instapic', root_path, class:"navbar-brand" %>
      </div>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar_menu">
          <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar_menu" style="text-align: center;">
          <ul class="navbar-nav text-center">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= render 'notifications/notification_dropdown'%>
                </li>
                  <li class="nav-item">
                    <%= link_to 'New Post', new_post_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Profile", profile_path(current_user.user_name), class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Browse Posts", browse_posts_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Edit', edit_user_registration_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete,  class:"nav-link" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'Login', new_user_session_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Register',  new_user_registration_path, class:"nav-link" %>
                  </li>
                <% end %>
          </ul>
      </div>
  </div>
  </nav>